# Repo-wide build artifacts
build/

# Dart / Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.DS_Store
.idea/
.vscode/

# CocoaPods / Xcode
Pods/
DerivedData/
*.xcuserstate

# Android / Gradle
.gradle/
